In [437]:
#import Pandas library for Data Analysis
import pandas as pd
df=pd.read_csv(r"C:\Users\surya\Desktop\SpringSemester\Flex 4\IDA\HW3\winequality-white.csv",header=None)
print(df.shape) #Check the number of columns
df.describe() #Check the structure of data

(4899, 1)

                                                        0
count                                                4899
unique                                               3962
top     7;0.15;0.28;14.7;0.051;29;149;0.99792;2.96;0.3...
freq                                                    8

In [438]:
print(df.head())
dfs=df.drop([2,34],axis=1) #Drop column 2 as per the question and column 34 which has '?' characters
X=dfs.iloc[:,2:] #Take X as attributes
y=dfs.iloc[:,1] #Take y as class label
y=y.map({'R':1,'N':0}) #Map R as 1 and N as 0

                                                   0
0  fixed acidity;"volatile acidity";"citric acid"...
1   7;0.27;0.36;20.7;0.045;45;170;1.001;3;0.45;8.8;6
2  6.3;0.3;0.34;1.6;0.049;14;132;0.994;3.3;0.49;9...
3  8.1;0.28;0.4;6.9;0.05;30;97;0.9951;3.26;0.44;1...
4  7.2;0.23;0.32;8.5;0.058;47;186;0.9956;3.19;0.4...

ValueError: labels [ 2 34] not contained in axis

## 4 fold Cross Validation & Decision Tree Classifier

In [422]:
from sklearn import tree #Import the Machine Learning Library
from sklearn.cross_validation import cross_val_score #Import the cross validation function
dt_clf=tree.DecisionTreeClassifier(max_depth=2,max_leaf_nodes=2,
                                   min_samples_leaf=5,min_samples_split=4) #call the decision tree classifier
scores=cross_val_score(dt_clf,X,y,cv=4,scoring='accuracy')

print("accuracy mean: ",scores.mean())
print("Accuracy scores: ",scores)

from sklearn.model_selection import train_test_split #import the test train split method
from sklearn.metrics import classification_report # for precision and class values
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1) 
clf_fit=dt_clf.fit(X_train,y_train) #fit test and train data
pred=clf_fit.predict(X_test) #predict the data
print  ("Classification report: \n", classification_report(y_test,pred))

accuracy mean:  0.757708333333
Accuracy scores:  [ 0.76        0.74        0.76        0.77083333]
Classification report:
              precision    recall  f1-score   support

          0       0.74      0.94      0.83        36
          1       0.50      0.14      0.22        14

avg / total       0.67      0.72      0.66        50

In [423]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,25,26,27,28,29,30,31,32,33,34
0,119513,N,31,18.02,27.60,117.50,1013.0,0.09489,0.1036,0.1086,...,139.70,1436.0,0.1195,0.1926,0.3140,0.1170,0.2677,0.08113,5.0,5
1,8423,N,61,17.99,10.38,122.80,1001.0,0.11840,0.2776,0.3001,...,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890,3.0,2
2,842517,N,116,21.37,17.44,137.50,1373.0,0.08836,0.1189,0.1255,...,159.10,1949.0,0.1188,0.3449,0.3414,0.2032,0.4334,0.09067,2.5,0
3,843483,N,123,11.42,20.38,77.58,386.1,0.14250,0.2839,0.2414,...,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300,2.0,0
4,843584,R,27,20.29,14.34,135.10,1297.0,0.10030,0.1328,0.1980,...,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678,3.5,0

### Data Preparation

In [424]:
dfs=df.drop([1,34],axis=1)#drop the R & N class column & the last column with th
Xr=dfs.iloc[:,2:] #Feature matrix 
yr=dfs.iloc[:,1] #Class variable
yr.head()

0     31
1     61
2    116
3    123
4     27
Name: 2, dtype: int64

### Test Train Split

In [425]:
from sklearn.metrics import classification_report #for performance matrix plot
#Segment data into test train for class and features 2/3rd and 1/3rd resp.
Xr_train, Xr_test, yr_train, yr_test = train_test_split(Xr, yr, test_size=0.33)
#Segment data into testing and training 2/3rd and 1/3rd resp.
train_d,test_d=train_test_split(dfs,test_size=0.33)
print(train_d.shape)
train_d.head()

(132, 33)

,0,2,3,4,5,6,7,8,9,10,...,24,25,26,27,28,29,30,31,32,33
116,8912049,55,19.16,26.60,126.2,1138.0,0.10200,0.14530,0.19210,0.09664,...,35.90,159.8,1724.0,0.1782,0.3841,0.5754,0.1872,0.3258,0.09720,1.5
79,874217,91,18.31,18.58,118.6,1041.0,0.08588,0.08468,0.08169,0.05814,...,26.36,139.2,1410.0,0.1234,0.2445,0.3538,0.1571,0.3206,0.06938,6.0
50,86208,10,20.77,22.83,137.4,1336.0,0.10330,0.15150,0.16370,0.10150,...,29.43,159.9,1816.0,0.1385,0.4107,0.3757,0.1881,0.3371,0.07651,4.0
139,90312,13,19.55,23.21,128.9,1174.0,0.10100,0.13180,0.18560,0.10210,...,30.44,142.0,1313.0,0.1251,0.2414,0.3829,0.1825,0.2576,0.07602,4.0
61,867305,104,16.16,21.54,106.2,809.8,0.10080,0.12840,0.10430,0.05613,...,31.68,129.7,1175.0,0.1395,0.3055,0.2992,0.1312,0.3480,0.07619,1.2

In [426]:
Xr_train.shape #2/3rd division

(132, 31)

In [427]:
yr_test.shape #1/3rd division

(66,)

### MSE

In [428]:
import numpy as np
yr_avg=yr.mean() #yr is the time variable
print(yr_avg)
def MSE(YH):
    return np.square(yr_avg-YH).mean()

46.73232323232323

In [429]:
#print(yr_train)
yr_train_MSE=MSE(yr_train)
print("Mean Square error of Training class data ",yr_train_MSE)
yr_test_MSE=MSE(yr_test)
print("Mean Square error of Testing class data ",yr_test_MSE)

Mean Square error of Training class data  1174.777191102949
Mean Square error of Testing class data  1195.51854402612

### correlation

In [415]:

coff_matrix=train_d.corr()

#print(coff_matrix)

To find the maximum correlation

In [430]:

newS=coff_matrix.iloc[1].abs().sort_values(ascending=False)
print(newS.head())
max_corr=newS[newS==newS.iloc[1]].index[0]
#Takes the max correlated index
print(max_corr)

2     1.000000
6     0.288689
5     0.283980
3     0.282377
31    0.268892
Name: 2, dtype: float64
6

### median & Split

In [431]:
print(max_corr)

split_v=train_d[max_corr].median()
#The median of the most correlated column
print(split_v)

6
968.4000000000001

In [432]:
dfs_new=train_d.loc[:,max_corr].copy() #get the max corr column values
print(dfs_new)

116    1138.0
79     1041.0
50     1336.0
139    1174.0
61      809.8
69     1214.0
155    1167.0
18      904.6
72     1030.0
101    1155.0
156     857.6
26     1162.0
159    1320.0
179     760.0
187    1528.0
9       475.9
67      963.7
164    1052.0
171    1261.0
141     991.7
5       502.7
123    1274.0
154     815.8
148     928.8
118     805.1
81      477.4
87      597.8
92      578.9
122    1027.0
86     1685.0
        ...
181    1127.0
114    1491.0
194     740.4
36      531.5
80      609.9
30      698.8
163     701.9
189    1235.0
172     858.1
174     970.2
158    1068.0
103    1169.0
20      644.8
147     599.5
93     1230.0
97      895.0
2      1373.0
47     1156.0
0      1013.0
180     769.0
32      563.0
89     1174.0
106     713.3
63      506.3
66      432.0
52      632.4
152    1191.0
142     719.5
57     1077.0
125     813.7
Name: 6, Length: 132, dtype: float64

In [433]:
#The median of the most correlated column
split_v=train_d[max_corr].median() # split on median
dfs_new=train_d.loc[:,max_corr].copy() #get the max corr column
dfs_right=train_d[dfs_new > split_v] #select the right tree (value>median)
print("right tree shape", dfs_right.shape)
dfs_left=train_d[dfs_new <= split_v] #to select the left tree (value<median)
print("left tree shape", dfs_left.shape)

right tree shape (66, 33)
left tree shape (66, 33)

### Recursive

In [434]:
#Practice - Check
len(train_d) #Rows
coff_matrix=train_d.corr()
newx=coff_matrix.iloc[1].abs().sort_values(ascending=False)
max_cor=newx[newx==newx.iloc[1]].index[0] # Taking the most correlated column: iloc[0] is the 1.0000 row. So take the next row. So, iloc[1] 
split=train_d[max_cor].median()  #Splitting based on the median of the most correlated column

avg= train_d.iloc[2].mean()
print("Mean Time: ", avg )

Mean Time:  2723.3718815454554

In [435]:
def regression_tree(data):
    if(len(data)<=5): #No. of Rows
        return
    n=len(data)
    mse_val=MSE(data[2])  # Time column MSE
    print("MSE:",mse_val)
    if(mse_val < 700):      #800 is the threshold value
        return data,mse_val,print("***prune***")
    else:
        coff_matrix=data.corr() #Find the correlation Matrix of the data
        newx=coff_matrix.iloc[1].abs().sort_values(ascending=False)  #Arranging them in the descending order of Correlation
        max_cor=newx[newx==newx.iloc[1]].index[0] # Taking the most correlated column: iloc[0] is the 1.0000 row. So take the next row. So, iloc[1] 
        print("correlated column:",max_cor)
        split=data[max_cor].median()  #Splitting based on the median of the most correlated column
        print("Median: ", split)
        
        avg= data.iloc[2].mean()  #Mean Time of the entire Time Column (No splitting done)
        print("Mean Time: ", avg )
        
        print("\n<<<<<<<<<<<-------------------\n")
        print("Left Tree:")
        dfx_new=data.loc[:,max_cor].copy()
        lefttree=data[dfx_new <= split]    
        print("No. of left records: ", len(lefttree))
        regression_tree(lefttree)
        print("\n------------------->>>>>>>>>>>\n")
        print("Right Tree:")
        dfx_new=data.loc[:,max_cor].copy()
        righttree=data[dfx_new >split]
        print("No. of right records: ", len(righttree))
        regression_tree(righttree)

In [436]:
#implementing tree
regression_tree(train_d)

MSE: 1008.8685593306809
correlated column: 6
Median:  968.4000000000001
Mean Time:  2723.3718815454554

<<<<<<<<<<<-------------------

Left Tree:
No. of left records:  66
MSE: 1041.4808948066525
correlated column: 32
Median:  0.098425
Mean Time:  27753.31647163636

<<<<<<<<<<<-------------------

Left Tree:
No. of left records:  33
MSE: 1164.9807417610448
correlated column: 7
Median:  0.09387000000000001
Mean Time:  27753.31647163636

<<<<<<<<<<<-------------------

Left Tree:
No. of left records:  17
MSE: 1005.453706704598
correlated column: 9
Median:  0.05252999999999999
Mean Time:  27639.080460242432

<<<<<<<<<<<-------------------

Left Tree:
No. of left records:  9
MSE: 1052.5071166207529
correlated column: 0
Median:  868202.0
Mean Time:  25699.19833184849

<<<<<<<<<<<-------------------

Left Tree:
No. of left records:  5

------------------->>>>>>>>>>>

Right Tree:
No. of right records:  4

------------------->>>>>>>>>>>

Right Tree:
No. of right records:  8
MSE: 952.5186205489235
correlated column: 25
Median:  127.75
Mean Time:  28259.93009084848

<<<<<<<<<<<-------------------

Left Tree:
No. of left records:  4

------------------->>>>>>>>>>>

Right Tree:
No. of right records:  4

------------------->>>>>>>>>>>

Right Tree:
No. of right records:  16
MSE: 1334.4782165085194
correlated column: 27
Median:  0.14245000000000002
Mean Time:  2723.3019950000003

<<<<<<<<<<<-------------------

Left Tree:
No. of left records:  8
MSE: 1313.473166003469
correlated column: 25
Median:  121.25
Mean Time:  27697.847087939386

<<<<<<<<<<<-------------------

Left Tree:
No. of left records:  4

------------------->>>>>>>>>>>

Right Tree:
No. of right records:  4

------------------->>>>>>>>>>>

Right Tree:
No. of right records:  8
MSE: 1355.48326701357
correlated column: 12
Median:  0.06301000000000001
Mean Time:  25962.06529972727

<<<<<<<<<<<-------------------

Left Tree:
No. of left records:  4

------------------->>>>>>>>>>>

Right Tree:
No. of right records:  4

------------------->>>>>>>>>>>

Right Tree:
No. of right records:  33
MSE: 917.98104785226
correlated column: 32
Median:  0.1071
Mean Time:  270135.5699849697

<<<<<<<<<<<-------------------

Left Tree:
No. of left records:  17
MSE: 584.1084898299694
***prune***

------------------->>>>>>>>>>>

Right Tree:
No. of right records:  16
MSE: 1272.7206407509439
correlated column: 0
Median:  868944.0
Mean Time:  26572.82712515151

<<<<<<<<<<<-------------------

Left Tree:
No. of left records:  8
MSE: 1614.4403377206409
correlated column: 15
Median:  2.7045
Mean Time:  2728.818769393939

<<<<<<<<<<<-------------------

Left Tree:
No. of left records:  4

------------------->>>>>>>>>>>

Right Tree:
No. of right records:  4

------------------->>>>>>>>>>>

Right Tree:
No. of right records:  8
MSE: 931.0009437812467
correlated column: 0
Median:  887016.0
Mean Time:  273181.1662015151

<<<<<<<<<<<-------------------

Left Tree:
No. of left records:  4

------------------->>>>>>>>>>>

Right Tree:
No. of right records:  4

------------------->>>>>>>>>>>

Right Tree:
No. of right records:  66
MSE: 976.2562238547087
correlated column: 14
Median:  1.1925
Mean Time:  2723.3718815454554

<<<<<<<<<<<-------------------

Left Tree:
No. of left records:  33
MSE: 847.0701203958778
correlated column: 14
Median:  0.9209
Mean Time:  26520.046026515152

<<<<<<<<<<<-------------------

Left Tree:
No. of left records:  17
MSE: 900.7775332048949
correlated column: 29
Median:  0.4159
Mean Time:  27516.338568999996

<<<<<<<<<<<-------------------

Left Tree:
No. of left records:  9
MSE: 937.9122793592489
correlated column: 31
Median:  0.3055
Mean Time:  27214.13384621212

<<<<<<<<<<<-------------------

Left Tree:
No. of left records:  5

------------------->>>>>>>>>>>

Right Tree:
No. of right records:  4

------------------->>>>>>>>>>>

Right Tree:
No. of right records:  8
MSE: 859.0009437812469
correlated column: 22
Median:  0.0037155
Mean Time:  276145.55729290907

<<<<<<<<<<<-------------------

Left Tree:
No. of left records:  4

------------------->>>>>>>>>>>

Right Tree:
No. of right records:  4

------------------->>>>>>>>>>>

Right Tree:
No. of right records:  16
MSE: 790.0059942862973
correlated column: 0
Median:  915784.0
Mean Time:  27873.009769727265

<<<<<<<<<<<-------------------

Left Tree:
No. of left records:  8
MSE: 884.7938730741762
correlated column: 33
Median:  3.25
Mean Time:  26417.021016272727

<<<<<<<<<<<-------------------

Left Tree:
No. of left records:  4

------------------->>>>>>>>>>>

Right Tree:
No. of right records:  4

------------------->>>>>>>>>>>

Right Tree:
No. of right records:  8
MSE: 695.2181154984186
***prune***

------------------->>>>>>>>>>>

Right Tree:
No. of right records:  33
MSE: 1105.4423273135394
correlated column: 15
Median:  5.172999999999999
Mean Time:  27784.352895727272

<<<<<<<<<<<-------------------

Left Tree:
No. of left records:  17
MSE: 1138.421026966036
correlated column: 24
Median:  32.68
Mean Time:  264110.0757109393

<<<<<<<<<<<-------------------

Left Tree:
No. of left records:  9
MSE: 1257.8853433323131
correlated column: 24
Median:  30.39
Mean Time:  264110.0757109393

<<<<<<<<<<<-------------------

Left Tree:
No. of left records:  5

------------------->>>>>>>>>>>

Right Tree:
No. of right records:  4

------------------->>>>>>>>>>>

Right Tree:
No. of right records:  8
MSE: 1004.023671053974
correlated column: 24
Median:  35.045
Mean Time:  270119.47405293933

<<<<<<<<<<<-------------------

Left Tree:
No. of left records:  4

------------------->>>>>>>>>>>

Right Tree:
No. of right records:  4

------------------->>>>>>>>>>>

Right Tree:
No. of right records:  16
MSE: 1070.4024589327619
correlated column: 15
Median:  7.4155
Mean Time:  28187.905744454543

<<<<<<<<<<<-------------------

Left Tree:
No. of left records:  8
MSE: 901.2787215590246
correlated column: 0
Median:  906586.0
Mean Time:  26658.685524787867

<<<<<<<<<<<-------------------

Left Tree:
No. of left records:  4

------------------->>>>>>>>>>>

Right Tree:
No. of right records:  4

------------------->>>>>>>>>>>

Right Tree:
No. of right records:  8
MSE: 1239.5261963064993
correlated column: 15
Median:  9.4745
Mean Time:  28689.856094060604

<<<<<<<<<<<-------------------

Left Tree:
No. of left records:  4

------------------->>>>>>>>>>>

Right Tree:
No. of right records:  4